.container section
{
	padding-top: 8rem;
	min-height: 60vh;
	margin-bottom:2rem;
	
	& h2 
	{
	  font-size: 4.2rem;
	  font-weight: bold;
	  color:$spring-green;
	  letter-spacing:0.05em;
	  font-family: 'Germania One', cursive;
	  text-shadow:0.2rem 0.2rem $off-black;
	}

	& p 
	{
		font-size:2rem;
		color:$off-black;
	}
}

.container .currentTheme 
{
	position:relative;
	width: 100%;
	height: 100vh;
	background-color: $hot-pink;

	& h2
	{
		float:left;
		position:absolute;
		left:2rem;
		bottom:6rem;
		z-index:100;
	}
	& img
	{
		float:left;
		position:relative;
		top:0;
		left:0;
		object-fit:cover;
	}
}

.container .content 
{
	width: 96%;
	margin: 0 auto;
	min-height: 60rem;

	& .whatRock__container
	{
		display:flex;
		flex-flow:row nowrap;
		justify-content:space-around;

		&-col
		{
			width:50%;
			margin:0 1rem;

			& h3
			{
				margin:0 0 1rem 0;
				font-size:2.4rem;
				color:$dark-grey;
			}
			
			& p 
			{
				margin:0;
				font-size:1.4rem;
				line-spacing:1.4em;
			}
		}
	}

	/* FAQ */
	& .questionAnswer 
	{
		margin: 1.5rem auto;

		& h3 
		{
			font-weight:bold;
			color:$off-white;
			font-size: 2.4rem;
		}

		& blockquote 
		{
		  font-size: 1.6rem;
		  line-height: 1.6em;
		  width: 90%;
		  margin: 0 auto;
		}
	}

	& .about__container
	{
		display:flex;
		flex-flow:row nowrap;
		align-items:flex-start;
		padding:0;
		margin:0;

		&-col
		{
			width:50%;
			margin:0 1rem;

			& img
			{
				margin:1rem auto;
				object-fit:contain;
			}

			& p
			{
				line-height:1.5em;
				margin:1.2rem;
			}
		} 
	}
	/* Contact */
	& .contact__grid 
	{
		display: flex;
		flex-flow: row nowrap;
		margin: 0 auto;

		&-col 
		{
			width: 50%;
			margin:0 2rem;

			& form 
			{
				display:block;
				margin:0 auto;
				padding:0;
				
				& ul.contactForm__container
				{
					list-style-type:none;
					display:flex;
					flex-flow:column nowrap;
					justify-content:space-around;
					margin:0;
					padding:0;

					& li
					{
						display:flex;
						flex-flow:column nowrap;
						margin:0.5rem 0;
						
						& label
						{
							font-size:1.4rem;
							font-weight:bold;
						}

						& input,					
						& textarea
						{
							font-size:1.6rem;
							margin:0 0.5rem;
							width:50%;
						}


						& textarea
						{	
							min-height:10rem;
						}

						& button 
						{
							text-align:center;
							margin:1rem;
							color:$off-white;
							background-color:$hot-pink;
							width:10rem;
							cursor:pointer;
							outline: none;
							padding: 0.5rem;
							borderRadius: 0.5rem;
						}

						& button:hover
						{
							color:$purple;
							background-color:$spring-green;
						}
					}
				}				
			}

			& ul.customerSupport__container
			{
				list-style-type:none;

				& li 
				{
					margin:1rem 0;

					& h4
					{						
						font-size:1.8rem;

						& .supportNumber
						{
							font-weight:bold;
							color:$off-white;
							text-shadow:(0.2rem 0.2rem 0.2rem $off-black);
						}
					}

				}

				& li a 
				{
					color:$off-white;
					text-shadow:(0.2rem 0.2rem 0.2rem $off-black);
					text-decoration:none;
				}

				& li a:hover
				{
					color:$purple;
				}
			}
		}
	}

	//legal section:::
	& .legal__grid
	{
		& p.legal
		{
			font-size:1.4rem;
			margin:1.5rem 0;
		}
	}
}