nav 
{
	width: 100%;
	background-color: $off-black;
	font-size: 1.4rem;
	position: fixed;

	display: grid;
	grid-template-columns: 1fr 45rem; /*45rem = width of right hand area */
	grid-template-rows: 8rem 1fr; /* 6rem = height of logo */
	grid-template-areas:
	'logo   	login'
	'logo 		menu';

	& .logo 
	{
		width: 40rem;
		height: 100%;
		margin: 0 1rem;
		grid-area: logo;
	}

	& ul.menu 
	{
		display: flex;
		flex-flow: row nowrap;
		list-style-type: none;
		margin: 0;
		padding: 0;
		grid-area: menu;
		width: 100%;

		& li 
		{
			margin: 0 1rem;
			height: 2rem;
			font-size: 1.6rem;
			padding: 0.5rem;
			text-align: right;
			background-color: $dark-grey;

			& a 
			{
			  color: #efefef;
			  text-decoration: none;
			}

			& a:hover 
			{
			  cursor: pointer;
			  color: #663300;
			}

		}	
	}
}