.container .products 
{
  & .product 
  {
    display: flex;
    flex-flow: row nowrap;
    width: 92%;
    margin: 4rem auto;
    padding:1rem;
    background-color: $purple;
    min-height: 25rem;
    border-radius: 0.5rem;
    box-shadow:(0.1rem 0.1rem 0.1rem 0.1rem rgba(0,0,0, 0.5));

    & .product__image 
    {
      width: 40rem;
      margin: 1rem;
      align-self: center;
    }

    & .product__desc 
    {
      padding: 1rem;
      font-size:1.8rem;
      line-height: 1.4em;
      width: 100%;
      height: 100%;

      & p 
      {
        color: $off-white;
        margin:1rem 0;
      }

      & button
      {
        color:$off-white;
        background-color:$hot-pink;
      }

      & button:hover
      {
        color:$purple;
        background-color:$spring-green;
        cursor:pointer;
      }

      h4.comingSoon
      {
        font-weight:bold;
        font-size:3.6rem;
        color:$spring-green;
      }
    }

    & ul.product__content 
    {
      list-style-type: disc;
      color: $off-white;

      & li 
      {
        font-size: 2rem;
        margin: 0.8rem 0;
      }

      & li.exclusive 
      {
        font-weight: bold;
      }
    }
  }
}